@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at top left, #1a002a, #2b0047 80%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 0px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  color: #fff;
}

h1 {
  font-family: "Creepster", system-ui;
  font-size: 4rem;
  color: #ffb3ff;
  text-shadow: 0 0 25px #ff00ff, 0 0 50px #660066;
  background: none;
  border: none;
  box-shadow: none;
}

h2 {
  font-family: "Creepster", system-ui;
  font-size: 2.5rem;
  color: #ff9767;
  text-shadow: 0 0 15px #ff8636, 0 0 30px #ff7700;
  margin-top: 50px; 
}

.image-container {
  position: absolute;
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  z-index: 0;
}

#image1 {
  top: 55%;
  left: 30%;
  transform: translate(-50%, -50%);
}

#image2 {
  top: 55%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.image-container img {
  max-width: 80%;
  max-height: 80%;
  z-index: 1;
}





